## Signate
https://signate.jp/competitions/740

In [1]:
import numpy as np
import pandas as pd
import pandas_profiling as pdp

In [3]:
# データの読み込み
df = pd.read_csv('../data/sig740/train.csv')

# 成功（successful）と失敗（failed）以外のデータを除外する
# df = df[(df['state'] == 'successful') | (df['state'] == 'failed')]

In [4]:
df.head()

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,26,Travel_Rarely,450.941476,Research & Development,7.601074,3,Medical,1291,4,...,80,0,1,3,2,11,8,7,0,0
1,3,47,Travel_Rarely,730.235896,Research & Development,26.739489,3,Technical Degree,1587,2,...,80,1,20,1,1,5,9,4,4,0
2,7,26,Travel_Rarely,1082.560066,Human Resources,7.374739,3,Life Sciences,1591,2,...,80,1,4,3,3,3,2,0,2,0
3,10,46,Travel_Rarely,706.247579,Research & Development,14.791373,1,Medical,1572,1,...,80,1,6,0,1,5,4,7,7,1
4,11,25,Travel_Rarely,500.610860,Research & Development,2.146966,4,Medical,981,2,...,80,1,8,3,3,1,0,0,0,0

In [17]:
# # 日時に関する列を string から TimeStamp に変換
# df['deadline'] = pd.to_datetime(df['deadline'])
# df['launched'] = pd.to_datetime(df['launched'])

# # 期間の列を作成
# df['period'] = (df['deadline'] - df['launched']).dt.days # 差分を日数として表示

In [18]:
# # 単語数をカウントする関数
# def count_words(sentence):
#     words_list = str(sentence).split(' ') 
#     return len(words_list)
# # 単語数をカウントする関数を name の各データに適用
# df['n_words'] = df['name'].apply(count_words)

In [19]:
# # usd_goal_realを対数変換する
# df['log_goal'] = np.log(df['usd_goal_real'])
# df = df.drop(columns='usd_goal_real')

In [5]:
# columns = ['name', 'n_words', 'main_category', 'category', 'currency', 'country', 
#            'deadline', 'launched', 'period', 'state', 'log_goal']
columns = df.columns

In [6]:
df_pdp = df[columns]

In [7]:
df_pdp.head()

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,26,Travel_Rarely,450.941476,Research & Development,7.601074,3,Medical,1291,4,...,80,0,1,3,2,11,8,7,0,0
1,3,47,Travel_Rarely,730.235896,Research & Development,26.739489,3,Technical Degree,1587,2,...,80,1,20,1,1,5,9,4,4,0
2,7,26,Travel_Rarely,1082.560066,Human Resources,7.374739,3,Life Sciences,1591,2,...,80,1,4,3,3,3,2,0,2,0
3,10,46,Travel_Rarely,706.247579,Research & Development,14.791373,1,Medical,1572,1,...,80,1,6,0,1,5,4,7,7,1
4,11,25,Travel_Rarely,500.610860,Research & Development,2.146966,4,Medical,981,2,...,80,1,8,3,3,1,0,0,0,0

# データ可視化

In [8]:
profile = pdp.ProfileReport(df_pdp)

In [9]:
profile.to_file("../data/sig740/KS_ProfileReport.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]